---
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import test from "./test.jpg";
import CollectionMedia from "@components/CollectionMedia.astro";
import { isImageMetadata } from "node_modules/astro/dist/assets/types";
import * as EntryUtils from "@lib/EntryUtils";
import EntryHeroImage from "@components/EntryHeroImage.astro";

// const mediaRecords: Record<string, ImageMetadata>[] = await Astro.glob<{
//   default: ImageMetadata;
// }>("/src/pages/**/*.{jpeg,jpg,png,gif,jfif,mp4}");
const mediaRecords: Record<string, ImageMetadata>[] = await Astro.glob<{
  default: ImageMetadata;
}>("/src/content/hobbies/**/*.{jpeg,jpg,png,gif,jfif,mp4}");

// const media: ImageMetadata[] = Object.values(mediaRecords)
//   .filter((mr) => isImageMetadata(mr.default))
//   .map((mr) => mr.default);

const entries =
  await EntryUtils.getCollectionEntries<EntryUtils.Hobby>("hobbies");

// const testMediaInfo = {
//   collection: "hobbies",
//   folder: "_vehicles/foil/",
//   fileName: "20140424_213702.BXFFGZjF.jpg",
// };
---

<BaseLayout title="Image Test" includeSidebar={false}>
  <div class="text-center">
    <h3 class="text-2xl">Image Test</h3>
    <Image src={test} alt={test.src} />
    <p></p>
    <h3>Test Entry</h3>
    <span>{JSON.stringify(entries[0])}</span>
    <EntryHeroImage entry={entries[0]} />
    <h3>End of Test Entry</h3>
  </div>
</BaseLayout>
