---
import * as EntryUtils from "@lib/EntryUtils";
import { type ImageMetadata } from "astro";
import { Icon } from "astro-icon/components";
import CollectionMedia from "@components/CollectionMedia.astro";
import { isImageMetadata } from "node_modules/astro/dist/assets/types";

export type IconName = string;
export type Media = ImageMetadata | IconName;
interface Props {
  entry: EntryUtils.Entry;
  defaultMedia?: Media;
}

const { entry, defaultMedia } = Astro.props;
---

<div class="w-full md:w-40 h-40">
  {
    entry.cardIcon && (
      <Icon
        name={entry.cardIcon}
        is:inline={true}
        class="rounded-box object-cover object-center h-full w-full"
      />
    )
  }
  {
    !entry.cardIcon && entry.heroImage && (
      <CollectionMedia
        media={entry.heroImage}
        alt={entry.title}
        class="h-full w-full"
        useLightbox={false}
      />
    )
  }
  {
    !entry.cardIcon && !entry.heroImage && isImageMetadata(defaultMedia) && (
      <CollectionMedia
        media={defaultMedia}
        alt={entry.title}
        class="h-full w-full"
        useLightbox={false}
      />
    )
  }
  {
    !entry.cardIcon &&
      !entry.heroImage &&
      !isImageMetadata(defaultMedia) &&
      defaultMedia && (
        <Icon
          slot="fallbackContent"
          name={defaultMedia}
          is:inline={true}
          class="rounded-box object-cover object-center h-full w-full"
        />
      )
  }
</div>
