---
import ModalDialog from "@components/ModalDialog.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import * as PathUtils from "@lib/PathUtils";
import * as EntryUtils from "@lib/EntryUtils";

interface Props {
  headerText?: string;
  entry: EntryUtils.Entry;
  fileNames?: string[];
}

interface GalleryMediaInfo {
  media: ImageMetadata;
  caption: string;
}

const { headerText, entry, fileNames } = Astro.props;

function sortByFileNameList(
  media: GalleryMediaInfo[],
  fileNames: string[],
): GalleryMediaInfo[] {
  // console.info(`LBGal: media = ${JSON.stringify(media)}`);
  // console.info(`LBGal: fileNames = ${JSON.stringify(fileNames)}`);
  let temp: { media: EntryUtils.EntryImage; caption: string }[] = [];
  for (const fn of fileNames) {
    let m = media.findIndex(
      (v, _) =>
        PathUtils.getFileNameFromPath(v.media.fsPath)
          .toLocaleLowerCase()
          .localeCompare(fn) == 0,
    );
    if (m >= 0) {
      temp.push(media[m]);
    }
  }

  return temp;
}

let media: GalleryMediaInfo[] | undefined;
if (entry.galleryImages) {
  // console.info(`LBGal: galleryImages = ${JSON.stringify(entry.galleryImages)}`);
  media = entry.galleryImages.map((gi) => ({
    caption: gi[0],
    media: gi[1],
  }));

  if (fileNames && fileNames.length > 0) {
    media = sortByFileNameList(media, fileNames);
  }
}

const carouselId = "carousel_" + Math.random().toString(16).slice(2);
const BASE_CLASSNAME = "creel-lbgall";
const TRIGGER_CLASSNAME = BASE_CLASSNAME + "-trigger";
const DIALOG_CLASSNAME = BASE_CLASSNAME + "-dialog";
const CAROUSEL_CLASSNAME = BASE_CLASSNAME + "-carousel";
const CAROUSEL_ITEM_CLASSNAME = CAROUSEL_CLASSNAME + "-item";
const CAROUSEL_INDICATOR_CLASSNAME = CAROUSEL_CLASSNAME + "-indicator";
const CAROUSEL_PREV_CLASSNAME = CAROUSEL_CLASSNAME + "-prev";
const CAROUSEL_NEXT_CLASSNAME = CAROUSEL_CLASSNAME + "-next";
---

{media && headerText && <h2 class="mb-0">{headerText}</h2>}
{/* gallery preview images */}
{
  media && (
    <div
      class:list={[
        BASE_CLASSNAME,
        "grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-12 mt-0",
      ]}
    >
      {media!.map((m) => (
        <div
          class:list={[
            TRIGGER_CLASSNAME,
            "h-40 max-w-full sm:max-w-1/2 md:max-w-1/3 lg:max-w-1/4",
          ]}
        >
          <Image
            src={m.media}
            alt={m.caption}
            class="h-full w-full object-cover object-center rounded-box cursor-pointer"
          />
        </div>
      ))}

      {/* modal dialog */}
      <ModalDialog
        class={DIALOG_CLASSNAME}
        widthClass="w-[95vw]"
        heightClass="h-[90vh]"
      >
        {/* carousel */}
        <div
          id={carouselId}
          class:list={[CAROUSEL_CLASSNAME, "relative size-full"]}
        >
          {/* carousel wrapper */}
          <div class="relative size-full overflow-hidden rounded-box">
            {/* items */}
            {media.map((m) => (
              <div
                class:list={[
                  CAROUSEL_ITEM_CLASSNAME,
                  "size-full flex flex-col",
                  "hidden duration-700 ease-in-out",
                ]}
              >
                <div class="w-full h-12 mb-2 shrink-0 relative">
                  <span class="text-2xl text-bold absolute bottom-0 mb-1">
                    {m.caption}
                  </span>
                </div>
                <div class="size-full content-center overflow-auto rounded-box">
                  <Image
                    src={m.media}
                    alt={m.caption}
                    class:list={[
                      "m-0 rounded-box",
                      "w-auto max-w-[150vw] h-auto max-h-[150vh]",
                    ]}
                  />
                </div>
              </div>
            ))}
          </div>
          {/* indicators */}
          <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-6 left-1/2">
            {media.map((m, slideNumber) => (
              <button
                class:list={[
                  CAROUSEL_INDICATOR_CLASSNAME,
                  "w-4 h-4 rounded-box",
                ]}
                type="button"
                aria-current={slideNumber == 0}
                aria-label={`Slide ${slideNumber + 1}`}
                data-carousel-slide-to={slideNumber}
              />
            ))}
          </div>
          {/* controls */}
          <button
            class:list={[
              CAROUSEL_PREV_CLASSNAME,
              "absolute top-14 bottom-0 left-0 z-30",
              "flex items-center justify-center px-4",
              "cursor-pointer focus:outline-none md:hover:glass rounded-l-box",
            ]}
            type="button"
            data-carousel-prev
          >
            <Icon name="carousel_prev" class="w-12 h-12 text-base-content" />
          </button>
          <button
            class:list={[
              CAROUSEL_NEXT_CLASSNAME,
              "absolute top-14 bottom-0 right-0 z-30",
              "flex items-center justify-center px-4",
              "cursor-pointer focus:outline-none md:hover:glass rounded-r-box",
            ]}
            type="button"
            data-carousel-next
          >
            <Icon name="carousel_next" class="w-12 h-12 text-base-content" />
          </button>
        </div>
      </ModalDialog>
    </div>
  )
}
{/* initialization (only occurs once per page) */}
<script src="../scripts/initLightboxGallery"></script>
