---
import * as EntryUtils from "@lib/EntryUtils";
import BaseLayout from "@layouts/BaseLayout.astro";
import LightboxGallery from "@components/LightboxGallery.astro";
import EntryHeroImage from "@components/EntryHeroImage.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props {
    entry: EntryUtils.Entry | EntryUtils.EntryWithTags;
    customCollection?: string;
    customFolder?: string;
}

const { entry, customCollection, customFolder } = Astro.props;
dayjs.extend(localizedFormat);

const hideMainGallery = entry.hideMainGallery === true;
const sortMainGalleryBy = entry.sortMainGalleryBy ?? "fileNameText";
---

<BaseLayout
    title={entry.title}
    description={entry.description}
    image={entry.heroImage}
    ogType="article"
>
    <main class="md:flex md:justify-center">
        <article class="prose prose-lg max-w-full prose-img:mx-auto">
            <EntryHeroImage
                entry={entry}
                customCollection={customCollection}
                customFolder={customFolder}
            />
            <div class="flex flex-row items-center">
                <div class="flex title text-4xl font-bold mr-4">
                    {entry.title}
                </div>
                {
                    entry.badge && (
                        <div class="flex badge badge-secondary">
                            {entry.badge}
                        </div>
                    )
                }
            </div>
            <slot name="tags">
                {
                    entry.tags &&
                        entry.tags.map((tag) => (
                            <a
                                href={`/${entry.collection}/tag/${tag}`}
                                class="badge badge-outline ml-2 no-underline"
                            >
                                {tag}
                            </a>
                        ))
                }
                {entry.tags?.length > 0 && <p />}
            </slot>
            <slot name="header" />
            <div class="divider my-2"></div>
            <slot name="content" />
            <slot name="media">
                {
                    !hideMainGallery && (
                        <LightboxGallery
                            headerText="Media"
                            entry={entry}
                            customCollection={customCollection}
                            customFolder={customFolder}
                            sortBy={sortMainGalleryBy}
                        />
                    )
                }
            </slot>
        </article>
    </main>
</BaseLayout>
