---
import { type StoreItem } from "../content/config";
import EntryLayout from "@layouts/EntryLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props {
  storeItem: StoreItem;
}

const { storeItem } = Astro.props;

dayjs.extend(localizedFormat);

const buyText = storeItem.shopUrl ? "Buy" : "Contact";
const buyUrl =
  storeItem.shopUrl ??
  `/contact?subject=${encodeURIComponent("Store item inquiry: " + storeItem.title)}`;
---

<EntryLayout entry={storeItem}>
  <Fragment slot="header">
    <div class="flex place-content-between items-center">
      <div class="grow md:grow-0">
        <span class="text-xl mr-1">{storeItem.price}</span>
        <span class="text-md opacity-50 line-through">{storeItem.oldPrice}</span
        >
      </div>
      <div>
        {
          storeItem.customButtonLabel && storeItem.customButtonUrl && (
            <a
              class="btn btn-outline grow md:grow-0 ml-4"
              href={storeItem.customButtonUrl}
              target="_blank"
            >
              {storeItem.customButtonLabel}
            </a>
          )
        }
        <a
          class="btn btn-primary grow md:grow-0 ml-4"
          href={buyUrl}
          target="_blank">{buyText}</a
        >
      </div>
    </div>
  </Fragment>
  <slot name="content" slot="content" />
</EntryLayout>
